body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.letra1 {
    font-size: 12px;
}

.letra2 {
    font-size: 15px;
}

.logo-header {
    margin-top: 30px;
}

.lupa {
    margin-top: 30px;
}

.sacola {
    margin-top: 12px;
}

.menu_sup {
    margin-top: 10px;
    text-align: center;
}

.ul-2 {
    margin-left: 240px;
}

.texto-rosa {
    color: palevioletred;
    font-weight: bold;
}

.texto-rosa:hover {
    text-decoration: underline;
}

.texto-cinza {
    color: #5e5e5e;
}

.texto-cinza:hover {
    text-decoration: underline;
}

.tabombando {
    margin-top: 50px;
    margin-left: 430px;
}

.radius {
    border-radius: 20px;
}

.textosbomb {
margin-top: 15px;
}

.container-fundo{
    background-color:  #eff2f7;
}
.btn {
    border-radius: 20%;
}
